body{
	background-color:#ffccff;
	color:#000080
	font: 200 50px Pacifico;
	line-height: 2.5em;
}
.container{
	width:1200px;
	margin:auto;
}
a{
	text-decoration:none;
	color:white; 
}
a:hover{
	color:blue;
}
.box-1{
	background-color: pink;
	color:black ;
	border: 5px #a0522d solid;
	padding: 30px;
	margin: 50px
}
.box-1 h1{
	font-family: Tahoma;
	letter-spacing: 0.1em;
}
.box-2{
	background-color: #cc3399;
	color:white;
	border: 5px  white dotted;
	padding: 30px;
	margin: 50px
}
.box-2 h1{
	font-family: Tahoma;
	letter-spacing: 0.1em;
}
.list{
	background-color: white;
	border: 2px white solid;
	list-style: square;
}
.myform{
	padding:20px;
}
.myform.form-group{
	padding-bottom: 30px;	
}
.form-group button{
	background-color:#333;
	color:white;
}
.myform label{
	
	display: block;
}
.myform{
	padding:8px;
	width: 100%;
}
.box{
	float: left;
	border:1px solid black;
	box-sizing: border-box;
}
#id-main{
	float: left;
	width: 70%;
	background: #4b0082;
	color:white;
}
#id-2{
	float:right;
	width: 30%;
	background-color: #ff69b4;
}
.p-box{
	padding-top: 20%;
	margin-top: 70px;
	height: 300px;
	border: 1px solid #000;	
}
.p-box h1{
	position: absolute;
	right: 50%;
	
}